$palatinate: #2e2ed1;
$lavender: #c3a4e8;
$paleGold: #f2efb2;

$maxContainerWidth: 1280px;

$serif: 'STIX Two Text', serif;
$sans-serif: 'Josefin Sans', sans-serif;

$easeIn: cubic-bezier(0.65, 0, 0.35, 1);
$easeOut: cubic-bezier(0.32, 0, 0.67, 0);

$zIndex1: 100;
