.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

h1 {
  transition: all 0.25s 0.25s;
}

.page-enter h1,
.page-leave-active h1 {
  transform-origin: left center;
  opacity: 0;
}
